body{
    background-color: bisque;
    color: rgb(108, 30, 210);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5em;
}

.button{

    background-color: #444;
    color: #fff;
    text-align: center;
    margin-left: 520px;
    margin-right: 520px;
}
.button:hover{
    background-color: rgb(152, 93, 93);
}
.button:active{
    background-color: #fff;
    
}
a{
    text-decoration: none;
    color: #555555;
}
a:hover {
    color: aqua;
}
a:visited{
    color: #bd4d4d;
}

.box1{
    background-color: rgb(29, 240, 169);
    color:brown;
    border: 5px blue solid;
    border-right: 5px red solid;
    border-left: 4px yellow dotted;
    border-top: 6px green double ;

    border-bottom-width: 10px;
    border-bottom-style:dashed;

    padding-left: 50px;
    padding-right: 2px;
    padding-top: 5px;
    padding-bottom: 10px;

    margin-top: 20px;
    
    
}
.clearfix{
    clear: both;
}
.box1 h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 1em;
    word-spacing: 2em;


}
.box2{
    border: 5px dotted #cccccc;
    border-radius: 15px;
    padding: 20px;
    margin: 20px 0px;
    position: relative;
    top: 30px;
    left: 30px;
}

.box2 h1{
    text-align: center;
}

.container{
    width: 80%;
    margin:auto;

}
.list li{
    list-style-image: url('../image/屏幕截图\ 2023-09-10\ 153128.png');
    list-style: georgian;

}
.block{
    float: left;
    width: 33.3%;
    color: #555555;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 2px;

}
#sidebar{
    float: left;
    color: #555555;
    width: 70%;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#main-block{
    float: right;
    color: #555555;
    width: 30%;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.clearfix{
    clear: both;
}
.list2 li{
    list-style: circle;
}
.list2 li:nth-child(even){
    background-color: grey;
}
.list2 li:first-child{

    background-color: #cccccc;

}
.list2 li:nth-child(3){
    color: aqua;
}
.position-box{
    width: 500px;
    height: 500px;
    border: 1px solid black;
    position: relative;
}

.position-box h1{
    position: absolute;
    top: 50px;
}
.position-box h2{
    position: absolute;
    left: 30px;
}